@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --color-black: 345 0% 12%;
    --color-border: 0 0% 92%;
    --color-accent: 54 93% 65%;
    --color-background: 0 0% 98%;
    --color-destructive: 0 51% 36%;
    --color-on-destructive: 0 0% 100%;
  }
}

@layer base {
  body {
    @apply bg-background;
  }
}
